header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #F55A5A;
    border-bottom: 1px solid #eaeaea;
    height: 40px;
}

.navbar--globe {
    width: 24px;
    height: 24px;
    padding-right: 1rem;
}

.navbar--text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}